
html,body { 
	height:100%; 
	width:100%; 
	display: flex;
	flex-direction: column;
	margin: 0;
}

body{
	background-color:rgb(254, 254, 255);
	font-family: 'Proxima Nova', Georgia, sans-serif;
	margin: 0;
}
.content{
	background-color: #F8F8FF;
	margin: 0;
	padding: 0;
	height: 100%;
	width:100%; 
	display: flex;
	flex-direction: column;
}
.bandeau{
	float: left;
	background-color:rgb(254, 254, 255);
	border-bottom: solid 1px;
	border-color:  rgb(186, 182, 207);
	height: 80px;
	width: 100%;
	margin: 0; 
	position: absolute;
	padding: 0;
}
.bandeau p{
	float: left;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 40px;
	margin: 0;
	margin-top: 15px;
	margin-left: 4vw;
	
}
.profileicon{
	margin-top: 28px; 
	height: 23px;
	margin-right: 4vw;
	float: right;
}
.settings {
	margin-top: 27px; 
	height: 25px;
	margin-right: 4vw;
	float: right;
}
.profile{
	float: left;
	margin: 0;
	font-size: 20px;
	width: 100%;
	background-color: #F8F8FF;
	margin-top: 80px;
}
.bio{
	font-size: 18px;
}
.profile p{
	margin-left: 17vw; 
}
.pp{
	height: 100px;
	margin-top: 20px;
	margin-left: 4vw;
	margin-right: 15px;
	font-size: 2vw;
	float: left;
	border-radius: 100%;
}
.gallerycontainer{
	margin: 0 auto;
	height: 100%;
	width:100%; 
	display: flex;
	flex-direction: column;
	background-color: #F8F8FF;
}
.gallery{
	margin-top: 10vw;
	position: center;
	width: 70%;
	margin: 0 auto;
	background-color: #F8F8FF;
}
.pics{
	height: 17vw;
	margin: 2vw;
	border-radius: 10px;
}
.pics:hover {
	opacity: 0.7;
}
.photocontainer{
	float: left;
	margin: 0 auto;
	background-color:rgb(186, 182, 207);
	margin-top: 100px;
	border: solid 1px;
	border-color:  rgb(186, 182, 207);
}
.photo{
	height: 40vw;
	background-color:rgb(254, 254, 255);
	margin: 0;
}
.side{
	float: right;
	width: 32.3vw;
	border-left: solid 0.1vw;
	border-color:  rgb(186, 182, 207);
	background-color:rgb(254, 254, 255);
	margin: 0;
}
.poster{
	width: 100%;
	height: 8vw;
	margin: 0;
	float: left;
	border-bottom: solid 0.1vw;
	border-color:  rgb(186, 182, 207);
}
.posterpp{
	float: left;
	height: 5vw;
	margin: 1vw;
	border-radius: 100%;
}
.poster p{
	font-weight: bold;
	float: left;
	font-size: 2vw;
	margin: 1.5vw;
	margin-top: 2.5vw;
}
.reactions{
	float: left;
	width: 100%;
	margin: 0;
	height: 4vw;
	border-bottom: solid 0.1vw;
	border-color:  rgb(186, 182, 207);
}
.reactions p{
	font-weight: bold;
	float: left;
	font-size: 2.3vw;
	margin-left: 1vw;
	margin-top: 0.6vw;
}
.likeimg{
	float: left;
	height: 3vw;
	margin: 0.3vw;
}
.comimg{
	float: left;
	height: 3vw;
	margin: 0.5vw;
	margin-left: 10vw;
}
.comments{
	width: 100%;
	margin: 0;
	height: 27.8vw;
	overflow-x: hidden;
	overflow-y: scroll;
}
.comment{
  	height: auto;
  	display: flex;
  	align-items: flex-start;
}
.compp{
	height: 5vw;
	border-radius: 100%;
	margin: 0.5vw;
}
.comcontainer{
	margin-top: 2vw;
	padding-right: 0.5vw;
	padding-bottom: 0.5vw;
	align-self: stretch;
}
.comcontent{
	margin: 0;
	float: left;
	font-weight: bold;
	font-size: 1.5vw;
	margin-right: 0.5vw;
}
.comcontent2{
	float: left;
	margin: 0;
	font-size: 1.5vw;
	word-wrap: break-word;
	
}
.contenthome{
	padding: 0;
	background-color: #F8F8FF;
	margin: 0;
	height: 100%;
	width:100%; 
	display: flex;
	flex-direction: column;
}
.photocontainerhome{
	float: left;
	margin:0 auto;
	width: 80.2vmin;
	margin-bottom: 5vw;
	background-color:rgb(254, 254, 255);
	margin-top: 100px;
	border: solid 1px;
	border-color:  rgb(186, 182, 207);
}
.sidehome{
	width:100%;
	margin: 0;
}
.posterhome{
	width: 100%;
	height: 5vmin;
	margin: 0;
	float: left;
	border-bottom: solid 0.1vw;
	border-color:  rgb(186, 182, 207);
}
.posterhomepp{
	float: left;
	height: 4vmin;
	margin: 0.5vw;
	border-radius: 100%;
}
.posterhome p{
	font-weight: bold;
	float: left;
	font-size: 2vmin;
	margin: 1.5vw;
	margin-top: 1.3vw;
}
.photohome{
	height: 60.1vmin;
	border-bottom: solid 1px;
	border-color:  rgb(186, 182, 207);
}
.commentshome{
	width: 100%;
	margin: 0;
	height: 20vmin;
	overflow-x: hidden;
	overflow-y: scroll;
}
.reactionshome{
	float: left;
	width: 100%;
	margin: 0;
	height: 4vmin;
	border-bottom: solid 0.1vw;
	border-color:  rgb(186, 182, 207);
}
.reactionshome p{
	font-weight: bold;
	float: left;
	font-size: 2.3vmin;
	margin-left: 1vmin;
	margin-top: 0.6vmin;
}
.likeimghome{
	float: left;
	height: 3vmin;
	margin: 0.3vmin;
}
.comimghome{
	float: left;
	height: 3vmin;
	margin: 0.5vmin;
	margin-left: 10vmin;
}
.commenthome{
  	height: auto;
  	display: flex;
  	align-items: flex-start;
}
.compphome{
	height: 5vmin;
	border-radius: 100%;
	margin: 0.5vmin;
}
.comcontainerhome{
	margin-top: 2vmin;
	padding-right: 0.5vmin;
	padding-bottom: 0.5vmin;
	align-self: stretch;
}
.comcontenthome{
	margin: 0;
	float: left;
	font-weight: bold;
	font-size: 1.5vmin;
	margin-right: 0.5vmin;
}
.comcontent2home{
	float: left;
	margin: 0;
	font-size: 1.5vmin;
	word-wrap: break-word;	
}